<div class="staticPage">
    <p>
        Nowadays it is more and more popular to use icons in your applications. It is all came from subways. Foreigners who were using subway wasn't able to read  words on different boards, for example: exit, don't go this way, stairs etc. That why people started using icons. They explain meening of things without any words.
    </p>
    <p>Modern fonts support a lot of cool icons, however most of the web-developers don't use them because they don't know the correct icon code. Current web-site is made to make it easier to find necessary icon.</p>
    <p>If you want to help the project, please share it in your social network, like it in on GitHub or fork it and add new icons on your own. Or even create Pull request on GitHub and I'll be happy to add your changes to the project.</p>
    <p>Author of the project</p>
    <p>Dmytro Dzyuba</p>
    <p>
        P.S. I leave this links in case if you want to say thank you to me.<br>
        <a href='https://www.facebook.com/DzyubaDmytro'>Facebook</a><br>
        <a href='https://www.linkedin.com/in/dmytro-dzyuba-b1988221/'>Linked in</a><br>
        <a href='https://github.com/hevyweb/web-icons'>Git Hub</a>
    </p>
</div>