<div class="addForm">
    <div class="formTitle">
        Add new icon to the library
    </div>
    <div class="formBody">
        <div class="iconList">
            <div *ngFor="let font of fonts" class="iconContainer">
                <div class="{{font.className}} icon" [innerHTML]="icon.html"></div>
                <div class="fontTitle">{{font.name}}</div>
            </div>
        </div>
        <div class="formData">
            <form (ngSubmit)="save()" novalidate [formGroup]="iconForm" class="clr">
                <div [ngClass]="{'error': iconForm.get('description').errors && !iconForm.get('description').pristine, 'formField': true}">
                    <input type="text" id="description" formControlName="description" placeholder="Description (required)">
                    <div class="errorHint" *ngIf="iconForm.get('description').errors && !iconForm.get('description').pristine">
                        Please fill the description.
                    </div>
                </div>
                <div [ngClass]="{'error': iconForm.get('category').errors && !iconForm.get('category').pristine, 'formField categoryFieldContainer': true}">
                    <select id="category" formControlName="category">
                        <option value="">-- Select category --</option>
                        <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
                    </select>
                    <div class="errorHint" *ngIf="iconForm.get('category').errors && !iconForm.get('category').pristine">
                        Please select the category.
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="positive" [disabled]="!iconForm.valid">Save</button>
                    <a routerLink="/" role="button" class="negative">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>