.addForm{
    margin-bottom: 20px;
    box-shadow: 2px 2px 1px 0px #ccc;
    border: 1px solid #ccc;
    margin: 20px;
    background: #fff;
}

.formTitle {
    border-bottom: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 10px;
    font-weight: bold;
    background: #eee;
}

.formBody {
    padding: 10px;
}

.icon{
    font-size: 76px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    color: #fff;
    position: relative;
    background: 
        repeating-linear-gradient(to right, transparent, transparent 10px, #ccc 11px),
        repeating-linear-gradient(to bottom, #2E363F, #2E363F 10px, #ccc 11px);
    }

.iconContainer {
    float: left;
    margin: 0 10px;
}

.iconList:after, .buttons:after{
    display: block;
    content: ' ';
    clear: both;
}

.fontArial {
    font-family: arial;
}

.fontSansSerif{
    font-family: sans-serif;
}

.fontTahoma{
    font-family: Tahoma;
}

.fontTimesNewRoman {
    font-family: Times New Roman;
}

.fontVerdana{
    font-family: Verdana;
}

.fontTitle{
    text-align: center;
    color: #618ca7;
    margin: 3px 0;
}

.formField {
    padding: 25px 10px;
    position: relative;
}

#description{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.positive{
    background: #28b779 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    padding: 0;
    float: right;
    margin: 25px 10px;
    padding: 0 15px;
    text-transform: uppercase;
}

.positive[disabled]{
    background: #ccc;
    color: #666;
}

.negative{
    background: #db3041;
    color: #fff;
    cursor: pointer;
    float: right;
    margin: 25px 10px;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
}

#category{
    border: 1px solid #ccc;
    height: 35px;
    width: 300px;
    color: #666;
}

.categoryFieldContainer {
    float: left;
}

.buttons {
    float: rigth;
}

input.ng-invalid, select.ng-invalid{
    border: 1px solid #db3041;
    box-shadow: 0 0 3px 2px #db3041;
}

input, select{
    outline: 0 none
}

.errorHint{
    border: 1px solid #ccc;
    position: absolute;
    background: #eee;
    padding: 10px;
    color: #db3041;
    top: -20px;
    left: 10px;
    box-shadow: 0px 0px 5px 2px #666;
}

.errorHint:after{
    position: absolute;
    bottom: -10px;
    content: ' ';
    border-top: 10px solid #eee;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0 none;
    display: block;
    left: 13%;
}