<div class="categories">
    <div class="uncategorized category" *ngIf="activeCategory == undefined">
        <div class="categoryHeader"><h2>Uncategorized</h2></div>
        <div class="categoryBody">
            <div id="categoryIcons">
                <div *ngFor="let newIcon of newIcons" class="iconContainer">
                    <div class="icon" [innerHTML]=newIcon.html></div>
                    <button class="ignore" (click)="ignoreIcon(newIcon)">Ignore</button>
                    <button class="add" routerLink="/icon-add/{{newIcon.code}}">Add</button>
                </div>                            
            </div>
            <button id="loadNew" (click)="loadIcons()">Load</button>
        </div>
    </div>
    <div *ngIf="activeCategory == -1;else allCategories" class="ignoredIcons">
        <div class="iconContainer" *ngFor="let icon of icons|filterBy:'category':-1">
            <div class="deleteIcon" (click)="removeIcon(icon)">x</div>
            <a routerLink="/icon-edit/{{icon.code}}" class="icon" [innerHTML]=icon.html></a>
        </div>
    </div>
    <ng-template #allCategories>
        <div *ngFor="let category of categories">
            <div class="category" *ngIf="(activeCategory == null || activeCategory == category.id) && filterIcons(icons, category.id)">
                <div class="categoryHeader">
                    <span [innerHTML]=filteredIcons[0].html>?</span>
                    <h2>{{category.name}} ( {{filteredIcons.length}} )</h2>
                </div>
                <div class="categoryBody">
                    <div class="iconContainer" *ngFor="let icon of filteredIcons">
                         <div class="deleteIcon" (click)="removeIcon(icon)">x</div>
                         <a routerLink="/icon-edit/{{icon.code}}" class="icon" [innerHTML]=icon.html></a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>