<div class="main">
    <aside>
        <div class="aside">
            <div class="asideContainer">
                <div class="logo">
                    <a routerLink="/">
                        <h1>{{title}}</h1>
                    </a>
                </div>
                <app-category-list></app-category-list>
            </div>
        </div>
    </aside>
    <div class="content">
        <div class="iconSearch">
            <input type="text" id="iconSearch" placeholder="Search Icons..." />
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>