<div class="main">
    <aside [ngClass]="{'collapsed': !collapsedMenu}">
        <div class="aside">
            <div class="asideContainer">
                <div class="logo">
                    <a routerLink="/">
                        <img src="/assets/images/ic_logo_mdpi.png" alt="{{title}}" >
                        <h1>{{title}}</h1>
                    </a>
                </div>
                <app-category-list></app-category-list>
            </div>
        </div>
    </aside>
    <div class="content">
        <div class="iconSearch">
            <a routerLink="/" class="xsOnly">
                <img src="/assets/images/ic_logo_mdpi.png" alt="{{title}}" >
            </a>
            <input type="text" id="iconSearch" (keyup)="filterIcons()" [(ngModel)]="iconSearch" name="search" placeholder="Search Icons..." />
            <div class="burgerMenu xsOnly" role="button" (click)="toggleMenu()">
                <hr><hr><hr><hr>
            </div>
        </div>
        <nav class="horizontalMenu">
            <ul>
                <li><a routerLink="/uncategorized/1" routerLinkActive="active">Uncategorized</a></li>
                <li><a routerLink="/category/-1" routerLinkActive="active">Ignored icons</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>