<div class="searchCategory">
    <input type="text" id="searchCategory" placeholder="Filter Category" role="search" [(ngModel)]="filterCategory">
</div>
<ul>
    <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/']">
            Show all
        </a>
    </li>
    <li *ngFor="let category of categories | like:'name':filterCategory" routerLinkActive="current">
        <a [routerLink]="['/category/'+ category.id]">
            {{category.name}}
        </a>
    </li>
</ul>