<div class="searchCategory">
    <input type="text" id="searchCategory" placeholder="Filter Category" role="search" [(ngModel)]="filterCategory">
</div>
<ul>
    <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'disabled':editCategories}" >
        <a [routerLink]="['/']" (click)="disabled($event)">
            Show all
        </a>
    </li>
    <li *ngFor="let category of categories | like:'name':filterCategory" routerLinkActive="current">
        <a [routerLink]="['/category/'+ category.id]" *ngIf="!editCategories">
            {{category.name}}
        </a>
        <div *ngIf="editCategories" class="editCategory">
            <input type="text" value="{{category.name}}" (keyup)="updateCategory(category.id, $event)">
            <button (click)="deleteCategory(category.id)" class="deleteCategory">x</button>
        </div>
    </li>
    <li *ngIf="!editCategories">
        <form (ngSubmit)="addNewCategory($event)" >
            <input type="text" id="addCategory" [(ngModel)]="newCategory" name="newCategory" placeholder="Add new category" />
        </form>
    </li>
</ul>
<button id="editCategory" (click)="toggleEdition()" [innerHTML]="editCategories ? 'Complete Edition' : 'Edit categories'"></button>