.pagination{
    margin: 20px 10px;
}

.btn{
    border: 1px solid #ccc;
    padding: 10px;
    color: #2E363F;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(#fff, #ccc);
    display: inline-block;
}

.btn:hover{
    background: linear-gradient( #ccc, #fff);
}

.currentBtn, .currentBtn:hover{
    background: #fff;
    cursor: auto;
}